<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- Created with MTool.  -->
<mapper namespace="com.yujian.wq.mapper.ImgWorkMapper">

    <resultMap id="imgMap" type="ImgEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="tagId" column="tag_id" jdbcType="INTEGER"/>
        <result property="chain" column="chain" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <insert id="insertImgAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="ImgEntity">
        insert into img
        (img,tag_id,tag,chain)
        values(
        #{img,jdbcType=VARCHAR},
        #{tagId,jdbcType=INTEGER},
        #{tag,jdbcType=VARCHAR},
        #{chain,jdbcType=VARCHAR}
        )
    </insert>


    <insert id="insertTag" useGeneratedKeys="true" keyProperty="id" parameterType="TagEntity">
        insert into tag
        (img_id,tag)
        values(
        #{imgId,jdbcType=INTEGER},
        #{tag,jdbcType=VARCHAR}
        )
    </insert>


    <select id="find" resultMap="imgMap">
        select
        img,tag_id
        from img
        <where>
            tag_id = #{tagId,jdbcType=INTEGER}
        </where>
        order by id desc
        limit #{start,jdbcType=INTEGER},#{num,jdbcType=INTEGER}
    </select>


    <select id="findNotIn" resultMap="imgMap">
        select
        img,tag_id
        from img
        <where>
            tag_id != #{tagId,jdbcType=INTEGER}
        </where>
        order by id desc
        limit #{start,jdbcType=INTEGER},#{num,jdbcType=INTEGER}
    </select>

</mapper>