<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <!-- 日志路径 -->
        <property name="LOG_HOME">I:\logs</property>
        <!-- INFO级别日志名称 -->
        <property name="LOG_INFO_NAME">yujian.log</property>
        <!-- INFO级别备份日志名称 -->
        <property name="BACKUP_INFO_NAME">yujian-%d{MM-dd-yyyy}-%i.log</property>
        <!-- ERROR级别日志名称 -->
        <property name="LOG_ERROR_NAME">yujian-err.log</property>
        <!-- ERROR级别备份日志名称-->
        <property name="BACKUP_ERROR_NAME">yujian-err-%d{MM-dd-yyyy}-%i.log</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="[%p][%date{yyyy-MM-dd HH:mm:ss.SSS}]%msg[%thread]([%c:%line])%n"/>
        </Console>
        <RollingFile name="AllLog" fileName="${LOG_HOME}/${LOG_INFO_NAME}"
                     filePattern="${LOG_HOME}/${BACKUP_INFO_NAME}">
            <PatternLayout charset="UTF-8" pattern="[%p][%date{yyyy-MM-dd HH:mm:ss.SSS}]%msg[%thread]([%c:%line])%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>
        <RollingFile name="ErrLog" fileName="${LOG_HOME}/${LOG_ERROR_NAME}"
                     filePattern="${LOG_HOME}/${BACKUP_ERROR_NAME}">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="UTF-8" pattern="[%p][%date{yyyy-MM-dd HH:mm:ss.SSS}]%msg[%thread]([%c:%line])%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>
    </appenders>
    <Loggers>
        <logger name="java.sql" level="DEBUG" additivity="false"/>
        <logger name="java.sql.ResultSet" level="DEBUG" additivity="false"/>
        <logger name="com.ibatis" level="DEBUG" additivity="false"/>
        <logger name="org.apache" level="ERROR" additivity="false"/>
        <logger name="org.apache.ibatis" level="DEBUG" additivity="false"/>
        <logger name="org.springframework" level="ERROR" additivity="false"/>
        <logger name="com.mchange" level="ERROR" additivity="false"/>
        <logger name="org.apache.commons" level="ERROR" additivity="false"/>

        <root level="INFO">
            <appenderRef ref="AllLog"/>
            <appenderRef ref="Console"/>
        </root>
    </Loggers>
</configuration>