<style type="text/css">
   #tagList span {
        background: #fff;
        border: 1px solid green;
        float: left;
        color: #000000;
        font-family: "黑体";
        font-size: 18px;
        margin: 10px;
        width: 150px;
        text-align: center;
        overflow: hidden;
        padding: 20px;
    }

   #chooseTagList span {
       background: #fff;
       border: 1px solid green;
       float: left;
       color: #000000;
       font-family: "黑体";
       font-size: 18px;
       margin: 3px;
       width: 90px;
       text-align: center;
       overflow: hidden;
       padding: 10px;
   }

    .btn {
        width: 100px;
        height: 40px;
        margin: 5px;
        line-height : 30px ;
        padding: 5px;
        font-family: "黑体";
        font-size: 18px;
        -webkit-appearance : none ;  /*解决iphone safari上的圆角问题*/
    }

    .btn_sm {
        width: 80px;
        height: 30px;
        font-family: "黑体";
        font-size: 16px;
    }

    ul li {
        width: 100%;
        float: left;
    }
</style>

<div style="padding: 10px;width: 98%">
    <div style="width: 69%;float: left">
        <img src="" id="npcImg" style="max-height:680px"/>
    </div>
    <div style="width: 27%;float: left;border-left:1px solid #808080;padding: 10px;min-height: 800px">

        <ul style="margin-top: 0;padding-left: 10px">
            <li>
                <h3>选择 剩余：（<span id="totalNum"></span>）张</h3>
                <input type="button" class="btn" value="上一个" id="preBtn" onclick="pre()">
                <input type="button" class="btn" value="下一个" id="nextBtn" onclick="next()">
                <input type="button" class="btn" value="删除" onclick="del()">
                <input type="button" class="btn" value="保存" onclick="save()">
            </li>
            <li>
                <h3>标签</h3>

                <div style="width: 100%;" id="tagList">
                    #if($!{tagList})
                        #foreach($entry in  $tagList)
                            <span>$!{entry}</span>
##                            <input type="button" class="btn" value="$!{entry}" onclick="toSave(this)">
                        #end
                    #end
                </div>
##                <h3 style="width: 50%;float: left">已选 <input type="button" class="btn" value="清除已选"
##                                                             onclick="clearSel()"></h3>
##
##
##                <div style="width: 100%;float: left" id="chooseTagList">
##                </div>
            </li>
            <li>
                <h3>标题</h3>
                <input type="text" id="Imgtitle" style="width: 100%">
                <input type="hidden" id="ImgtMd5" style="width: 100%">
            </li>
            <li>
                <h3>套图</h3>

                <input type="button" class="btn" value="设置连续" onclick="setchain()">
                <input type="button" class="btn" value="清除连续" onclick="clearchain()">

                <input type="text" id="chain" style="width: 100%">

            </li>
            <li>
                <h3>保存结果</h3>

                <p id="saveInfo"></p>
                <input type="button" class="btn_sm" value="查看" onclick="viewSave()">
            </li>
            <li>
                <h3>路径</h3>

                <p id="path"></p>
            </li>

        </ul>
    </div>

</div>

<script type="text/javascript">
    var order = 0;
    var myStorage = localStorage;
    $(document).ready(function () {
        loadImg();
        getWorkImg();
        init();
        getTag();
    })

    // function toSave(th) {
    //     var tt= $(th).val();
    //     alert(tt);
    // }
    function init() {
        $("#tagList").delegate("span", "click", function () {
//            $('#chooseTagList span').each(function (i) {
//
//                $("#tagList").append($(this));
//            });
            var tag = $(this).text();
//            $("#chooseTagList").append($(this));
            //开启自动保存
            save(tag);
        });

        $("#chooseTagList").delegate("span", "click", function () {
//            var tag = $(this).text();
            $(this).remove();
            var taglist = '';
            $('#chooseTagList span').each(function (i) {
                var tag = $(this).text();
                taglist += tag;
                taglist += ';';
            });
            getTag(taglist);
        });

        var storeChain = myStorage['chain'];
        if (storeChain != null) {
            $('#chain').val(storeChain);
        }
    }

    function loadImg() {
        $('#npcImg').attr('src', '/tempimg?order=' + order + '&_time' + uuid());
    }

    function getWorkImg() {
        var param = {};
        param.order = order;
        var reqUrl = $("#contextPath").val() + "/loadImg?" + '_time' + uuid();
        AjaxUtil.get(reqUrl, param, function (resp) {
            if (resp == undefined || resp == null) {
                layer.alert("系统异常", {icon: 5});
            } else if (resp.status == 1) {
                var data = resp.data;
                $('#Imgtitle').val(data.title);
                $('#ImgtMd5').val(data.md5);
                $('#chain').val(data.chain);
                $('#path').text(data.path);
                $('#totalNum').text(data.total);
            } else if (resp.status == 0) {
                layer.msg(resp.msg);
            } else {
                var obj = eval("(" + resp + ")");
                layer.alert(obj.msg, {icon: 5});
            }
        });
    }

    function getTag(chooseList) {
        var param = {};
        var reqUrl = $("#contextPath").val() + "/taglist";
        AjaxUtil.get(reqUrl, param, function (resp) {
            if (resp == undefined || resp == null) {
                layer.alert("系统异常", {icon: 5});
            } else if (resp.status == 1) {

                var spanStr = "";
                var data = resp.data;

                var aary = null;
                if (chooseList != null) {
                    aary = chooseList.split(';');
                }

                for (var i = 0; i < data.length; i++) {
                    spanStr += "<span>" + data[i] + "</span>"
                }

                $('#tagList').empty();
                $('#tagList').append(spanStr);
            } else if (resp.status == 0) {
                layer.msg(resp.msg);
            } else {
                var obj = eval("(" + resp + ")");
                layer.alert(obj.msg, {icon: 5});
            }
        });
    }


    function next() {
        order++;
        $('#npcImg').attr('src', '/tempimg?order=' + order + '&_time' + uuid());
        getWorkImg();
    }

    function pre() {
        if (order > 0) order--;
        else order = 0;
        $('#npcImg').attr('src', '/tempimg?order=' + order + '&_time' + uuid());
        getWorkImg();
    }

    function del() {
        var param = {};
        param.path = $('#path').text();
        var reqUrl = $("#contextPath").val() + "/del";
        AjaxUtil.post(reqUrl, param, function (resp) {
            if (resp == undefined || resp == null) {
                layer.alert("系统异常", {icon: 5});
            } else if (resp.status == 1) {
                layer.msg('已删除');
                if (myStorage.getItem("chain") == '') clearSel();
                $('#npcImg').attr('src', '/tempimg?order=' + order + '&_time' + uuid());
                getWorkImg();
            } else if (resp.status == 0) {
                layer.msg(resp.msg);
            } else {
                var obj = eval("(" + resp + ")");
                layer.alert(obj.msg, {icon: 5});
            }
        });
    }

    function viewSave() {
        var path = '/viewimg?deployFile=' + $('#saveInfo').text();
        var html = "<img src='" + path + "'/>"
        layer.open({
            title: $('#saveInfo').text(),
            type: 1,
            area: ['1024px', '768px'],
            shadeClose: true, //点击遮罩关闭
            content: "<div>" + html + "</div>"
        });
    }
    function setchain() {
        var chain = uuid();
        myStorage.setItem("chain", chain);
        $('#chain').val(myStorage.getItem("chain"));
    }

    function clearchain() {
        myStorage.setItem("chain", '');
        $('#chain').val('');
    }
    function clearSel() {
        $("#chooseTagList").empty();
        getTag();
    }

    function save(tag) {
        var param = {};
        param.img = $('#path').text();
        param.chain = $('#chain').val();
        var taglist = '';
        if(tag !=null){
            taglist =tag;
        }else{
            $('#chooseTagList span').each(function (i) {
                var tag = $(this).text();
                taglist += tag;
                taglist += ';';
            });
        }
        param.tag = taglist;
        param.title = $('#Imgtitle').val();
        param.md5 = $('#ImgtMd5').val();

        $('#saveInfo').empty();
        var reqUrl = $("#contextPath").val() + "/saveTrain";
        AjaxUtil.post(reqUrl, param, function (resp) {
            if (resp == undefined || resp == null) {
                layer.alert("系统异常", {icon: 5});
            } else if (resp.status == 1) {
                layer.msg('保存成功' ,{time:500});
                $('#saveInfo').text(resp.data);
                if (myStorage.getItem("chain") == '') clearSel();
                $('#npcImg').attr('src', '/tempimg?order=' + order + '&_time' + uuid());
                getWorkImg();
            } else if (resp.status == 0) {
                layer.msg(resp.msg);
            } else {
                var obj = eval("(" + resp + ")");
                layer.alert(obj.msg, {icon: 5});
            }
        });
    }
    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
</script>

