<link rel="stylesheet" href="#springUrl('')">
<style type="text/css">

    .btn {
        width: 100px;
        height: 40px;
        margin: 5px;
        line-height: 30px;
        padding: 5px;
        font-family: "黑体";
        font-size: 18px;
        -webkit-appearance: none; /*解决iphone safari上的圆角问题*/
    }

    .btn_sm {
        width: 80px;
        height: 30px;
        font-family: "黑体";
        font-size: 16px;
    }

    ul li {
        width: 100%;
        margin: 10px;
        float: left;
    }

    input {
        height: 28px;
        width: 200px;
    }
</style>

<div style="padding: 10px;width: 98%">

    <div style="width: 100%;float: left;padding: 10px;min-height: 800px">

        <ul>
            <li>标题<input type="text" value="" id="title"></li>
            <li>内容<textarea type="text" style="height: 300px;width: 70%" id="content"></textarea></li>
            <li>摘要<input type="text" value="" id="summary" style="width: 80%"></li>
            <li>作者<input type="text" value="" id="author"></li>
            <li>标签<input type="text" value="" id="tags" placeholder="空格分开"></li>
            <li>热度<input type="text" value="0" id="hot"></li>
            <li><input type="button" class="btn" style="float: left" value="保存" onclick="save()"></li>
        </ul>
    </div>

</div>
<script src="http://cdn.bootcss.com/tinymce/4.4.3/tinymce.min.js"></script>
<script src="#springUrl('statics/plugin/trumbowyg/trumbowyg.min.js')" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {


    })
    tinymce.init({
        selector: 'textarea'
    });

    function save() {
        var param = {};
        param.title =  $('#title').val();
        param.content =  tinymce.activeEditor.getContent();
        param.summary =  $('#summary').val();
        param.author =  $('#author').val();
        param.tags =  $('#tags').val();
        param.hot = $('#hot').val();
        var reqUrl = $("#contextPath").val() + "/story/save";
        AjaxUtil.post(reqUrl, param, function (resp) {
            if (resp == undefined || resp == null) {
                alert("系统异常", {icon: 5});
            } else if (resp.status == 1) {
                alert('已保存');
            } else if (resp.status == 0) {
                alert(resp.msg);
            } else {
                var obj = eval("(" + resp + ")");
                alert(obj.msg, {icon: 5});
            }
        });
    }


    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
</script>



